In [2]:
%%javascript
    /*
        WiggiMX:feel free to use it just give us the credit with a short mention :)
    */
    $("#homeButton").remove()
    $('body').append('<a href="#'+$("h1,h2,h3:eq(0)").attr("id")+'" style="position: fixed; bottom: 10px; right: 10px;" type="button" class="btn btn-success btn-circle btn-lg"><i class="glyphicon glyphicon-link" id="homeButton"></i></a>');
    $("#MainMenu").remove()
    var menu = 
      '<div id="MainMenu" style="position: fixed; top: 120px; right: 10px; z-index:6; max-height: 500px;">'+
        '<div class="list-group panel" >'+
          '<a href="#collapseMenu" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu"><img width="40px" src="/kernelspecs/python3/logo-64x64.png"/><i class="fa fa-caret-down"></i></a>'+
          '<div class="collapse" id="collapseMenu" style="overflow-y: overlay; max-height: 500px;">'+
          '</div>'+
        '</div>'+
      '</div>'
   
    var parent = $(menu)
    var arrayIds = []
    $("h1,h2,h3").attr("id",function(id,Value){
        if(Value != ""){
            var content = (Value.replace(new RegExp('-', 'g'), ' '));
            content = "&nbsp;".repeat(parseInt($(this).prop("tagName")[1])*2-1) + content;
            $(parent).find("#collapseMenu").append('<a href="#'+Value+'" style="position:relative;" class="list-group-item" data-parent="#SubMenu1">'+content+'</a>');
        }
    })
$('body').append(parent)

# DataFrames

En Spark 2.0 y otras versiones más recientes los DataFrames son el "caballito de batalla" y la forma principal de trabajar con Python y Spark en conjunto.

<div class="alert alert-info">Los <strong>DataFrames</strong> funcionan como tablas o DataFrames de pandas, ya que se comportan como si tuvieran filas y columnas. En realidad son filas distribuidas.</div>

Usar **DataFrames** proporciona varias ventajas:
* Sintaxis más simple que la de los RDDs
* Posibilidad de usar comandos tipo SQL directamente sobre el DataFrame
* Las operaciones están automáticamente distribuidas en los RDDs
 
La principal ventaja de usar los DataFrames de Spark sobre Pandas o cualquier otra cosa es que Spark puede manipular datos a través de muchos RDDs, cantidades masivas de datos que nocaben en una sola computadora. El costo por esto es una sintaxis un poquito rara, pero nada terrible.

## Para crear un DataFrame

Primero necesitamos importar una SparkSession:

In [3]:
#Initiallizing Spark (just run once) https://jaceklaskowski.gitbooks.io/mastering-apache-spark/spark-sparkcontext-creating-instance-internals.html
import pyspark
sc = pyspark.SparkContext('local[*]')
sc

In [4]:
from pyspark.sql import SparkSession


<div class="alert alert-info">La **SparkSession** nos permite accesar a todas las funcionalidades de Spark (incluyendo Data frames), mientras que el Spark Context no incluye DataFrames.</div>

Luego, inicializar la SparkSession

In [5]:
# Puede que tome un tiempo en una computadora local
spark = SparkSession.builder.appName("Basics").getOrCreate()

Para crear un data frae necesitamos alguna de las siguientes opciones:
* Obtener datos de un archivo.
* Conectarnos a un archivo grande y distribuido (como HDFS).
* Convertir un RDD en DF

In [6]:
#Vamos a empezar con cómo leer desde un archivo

df = spark.read.json('./data/people2.json')

## Mostrar los datos

In [7]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [8]:
df.limit(10).toPandas()

    age     name
0   NaN  Michael
1  30.0     Andy
2  19.0   Justin

In [9]:
df.columns

['age', 'name']

In [10]:
df.describe()

DataFrame[summary: string, age: string, name: string]

### ¿Cómo sé qué otros métodos hay para mi DataFrame?

In [11]:
df

DataFrame[age: bigint, name: string]

<div class="alert alert-danger" role="alert">
  Para DataFrames no tenemos <strong>isEmpty</strong> ni <strong>countApprox</strong>, por lo que si queremos conocer si contiene datos nuestroDataFrame es recomendable convertirlo en RDD primero. En general no es buena idea hacer un <strong>collect</strong> o un <strong>count</strong> en DataFrames cuya magnitud no conocemos.
</div>

In [12]:
df.rdd.isEmpty()

False

### Esquema

En algunos tipos de datos como los formatos tabulares de csv, es muy fácil inferir un esquema, pero es posible que sea necesario definir el esquema manualmente si se planea utilizar un métodt .read que no tenga la capacidad de inferir un esquema (inferSchema).

In [13]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

Spark cuenta con las herramientas para realizar lo anterior:

In [14]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

Una vez que cargamos las herramientas necesitamos crear la lista de los campos estructurados (StructFields): 
* :param name: string, nombre del campo.
* :param dataType: :class:`DataType` del campo.
* :param nullable: boolean, Si puede ser nulo (None) o no.

In [15]:
data_schema = [StructField("age", IntegerType(), True),StructField("name", StringType(), True)]

Definimos el esquema por completo

In [16]:
final_struc = StructType(fields=data_schema)

Y por último asignamos el esquema

In [18]:
df = spark.read.json('data/people2.json', schema=final_struc)

In [19]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

## Seleccionar datos

In [20]:
df['age']

Column<b'age'>

In [21]:
type(df['age'])

pyspark.sql.column.Column

In [22]:
df.select('age')

DataFrame[age: int]

In [23]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [24]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [25]:
# Returns list of Row objects
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

### Seleccionar múltiples columnas

In [26]:
df.select(['age','name'])

DataFrame[age: int, name: string]

In [27]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

## Crear nuevas columnas

In [28]:
# Agregar una nueva columna que es una copia de otra
df.withColumn('newage',df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [29]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [30]:
# Renombrar una columna
df.withColumnRenamed('age','supernewage').show()

+-----------+-------+
|supernewage|   name|
+-----------+-------+
|       null|Michael|
|         30|   Andy|
|         19| Justin|
+-----------+-------+

#### Algunas operaciones ligeramente más complicadas para agregar una columna

In [31]:
df.withColumn('doubleage',df['age']*2).show()

+----+-------+---------+
| age|   name|doubleage|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [32]:
df.withColumn('add_one_age',df['age']+1).show()

+----+-------+-----------+
| age|   name|add_one_age|
+----+-------+-----------+
|null|Michael|       null|
|  30|   Andy|         31|
|  19| Justin|         20|
+----+-------+-----------+

In [33]:
df.withColumn('half_age',df['age']/2).show()

+----+-------+--------+
| age|   name|half_age|
+----+-------+--------+
|null|Michael|    null|
|  30|   Andy|    15.0|
|  19| Justin|     9.5|
+----+-------+--------+

In [34]:
df.withColumn('half_age',df['age']/2)

DataFrame[age: int, name: string, half_age: double]

## Filtrado

In [35]:
df = spark.read.csv('./data/appl_stock.csv', inferSchema=True, header=True)

In [36]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [37]:
df.limit(10).toPandas()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2010-01-04,213.429998,214.499996,212.380001,214.009998,123432400,27.727039
1,2010-01-05,214.599998,215.589994,213.249994,214.379993,150476200,27.774976
2,2010-01-06,214.379993,215.230000,210.750004,210.969995,138040000,27.333178
3,2010-01-07,211.750000,212.000006,209.050005,210.580000,119282800,27.282650
4,2010-01-08,210.299994,212.000006,209.060005,211.980005,111902700,27.464034
5,2010-01-11,212.799997,213.000002,208.450005,210.110003,115557400,27.221758
6,2010-01-12,209.189995,209.769995,206.419998,207.720001,148614900,26.912110
7,2010-01-13,207.870005,210.929995,204.099998,210.650002,151473000,27.291720
8,2010-01-14,210.110003,210.459997,209.020004,209.430000,108223500,27.133657
9,2010-01-15,210.929995,211.599997,205.869999,205.930000,148516900,26.680198

El filtrado funciona igual que en el caso de los RDDs, nos devuelve los datos que cumplan con cierta condición.

In [38]:
df.filter(df.Close < 500).limit(5).toPandas()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2010-01-04,213.429998,214.499996,212.380001,214.009998,123432400,27.727039
1,2010-01-05,214.599998,215.589994,213.249994,214.379993,150476200,27.774976
2,2010-01-06,214.379993,215.230000,210.750004,210.969995,138040000,27.333178
3,2010-01-07,211.750000,212.000006,209.050005,210.580000,119282800,27.282650
4,2010-01-08,210.299994,212.000006,209.060005,211.980005,111902700,27.464034

In [39]:
df.filter(df.Close < 500).describe().toPandas()

,summary,Open,High,Low,Close,Volume,Adj Close
0,count,1359,1359,1359,1359,1359,1359
1,mean,236.47244294334047,238.6941423671817,233.9796908940401,236.36248688079505,8.90163816777042E7,74.93380431788086
2,stddev,134.63754349125568,135.95868912083253,133.17182943991682,134.5033838014814,6.105617409357081E7,32.3718527953366
3,min,90.0,90.699997,89.470001,90.279999,11475900,24.881912
4,max,514.259995,526.290016,496.88998399999997,499.779984,470249500,127.96609099999999

In [40]:
#Otro modo de hacerlo
df.filter("Close < 500").limit(5).toPandas()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2010-01-04,213.429998,214.499996,212.380001,214.009998,123432400,27.727039
1,2010-01-05,214.599998,215.589994,213.249994,214.379993,150476200,27.774976
2,2010-01-06,214.379993,215.230000,210.750004,210.969995,138040000,27.333178
3,2010-01-07,211.750000,212.000006,209.050005,210.580000,119282800,27.282650
4,2010-01-08,210.299994,212.000006,209.060005,211.980005,111902700,27.464034

Puede ser que yo no quiera ver todo.

In [41]:
df.filter("Close < 500").select(['Open','Close']).show()

+------------------+------------------+
|              Open|             Close|
+------------------+------------------+
|        213.429998|        214.009998|
|        214.599998|        214.379993|
|        214.379993|        210.969995|
|            211.75|            210.58|
|        210.299994|211.98000499999998|
|212.79999700000002|210.11000299999998|
|209.18999499999998|        207.720001|
|        207.870005|        210.650002|
|210.11000299999998|            209.43|
|210.92999500000002|            205.93|
|        208.330002|        215.039995|
|        214.910006|            211.73|
|        212.079994|        208.069996|
|206.78000600000001|            197.75|
|202.51000200000001|        203.070002|
|205.95000100000001|        205.940001|
|        206.849995|        207.880005|
|        204.930004|        199.289995|
|        201.079996|        192.060003|
|192.36999699999998|        194.729998|
+------------------+------------------+
only showing top 20 rows

Ok, entonces, ¿qué hacen los siguientes comandos de spark con nuestro DF original?

In [42]:
df.filter((df['Close'] < 200) & (df['Open'] > 200)).limit(5).toPandas()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2010-01-22,206.780006,207.499996,197.160000,197.750000,220441900,25.620401
1,2010-01-28,204.930004,205.500004,198.699995,199.289995,293375600,25.819922
2,2010-01-29,201.079996,202.199995,190.250002,192.060003,311488100,24.883208

In [43]:
df.filter((df['Close'] < 200) & ~(df['Open'] > 200)).limit(5).toPandas()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2010-02-01,192.369997,196.000000,191.299999,194.729998,187469100,25.229131
1,2010-02-02,195.909998,196.319994,193.379993,195.859997,174585600,25.375533
2,2010-02-03,195.169994,200.200003,194.420004,199.229994,153832000,25.812149
3,2010-02-04,196.730003,198.370001,191.570005,192.050003,189413000,24.881912
4,2010-02-05,192.630003,196.000000,190.850002,195.460001,212576700,25.323710

In [44]:
df.filter((df['Low'] == 197.16)).toPandas()

        Date        Open        High     Low   Close     Volume  Adj Close
0 2010-01-22  206.780006  207.499996  197.16  197.75  220441900  25.620401

### Podemos guardar información que nos interese particularmente en un diccionario:

In [45]:
result = df.filter((df['Low'] == 197.16)).collect()

In [46]:
row = result[0]

In [47]:
row.asDict()

{'Date': datetime.datetime(2010, 1, 22, 0, 0),
 'Open': 206.78000600000001,
 'High': 207.499996,
 'Low': 197.16,
 'Close': 197.75,
 'Volume': 220441900,
 'Adj Close': 25.620401}

In [48]:
row.asDict()['Volume']

220441900

## groupBy y aggregate
* groupBy: agrupa datos juntos con base en los valores de alguna columna
* aggregate: combines aggregates combina y/o agrega en una sola salida (como las sumas)

In [49]:
df = spark.read.csv('./data/sales_info.csv',inferSchema=True,header=True)

In [50]:
df.limit(6).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
+-------+-------+-----+

In [51]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

In [52]:
df.groupBy("Company").mean().show()

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

In [53]:
df.groupBy("Company").sum().show()

+-------+----------+
|Company|sum(Sales)|
+-------+----------+
|   APPL|    1480.0|
|   GOOG|     660.0|
|     FB|    1220.0|
|   MSFT|     967.0|
+-------+----------+

In [54]:
df.groupBy("Company").max().show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

### aggregate

<div class="alert alert-info"> Cuando no agregamos GroupBy, solamente estamos agregando a través de todo </div>

<div class="alert alert-info"> Una de las formas de agregar es usar un diccionario como entrada </div>

In [55]:
df.agg({'Sales':'sum'}).show()

+----------+
|sum(Sales)|
+----------+
|    4327.0|
+----------+

In [56]:
df.agg({'Sales':'max'}).show()

+----------+
|max(Sales)|
+----------+
|     870.0|
+----------+

#### Con grupo de agregación

In [57]:
group_data = df.groupBy("Company")

In [58]:
group_data.agg({'Sales':'max'}).show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

Hay más fucnciones de agregación como:

In [59]:
from pyspark.sql.functions import countDistinct,avg,stddev

## Ejercicios

### Cargar el Walmart stock CSV File, con Spark infiriendo el esquema

In [60]:
df = spark.read.csv('./data/walmart_stock.csv',inferSchema=True,header=True)

### ¿Cómo se llaman las columnas?

### ¿Cómo se ve el esquema?

### ¿Cómo imprimirían las primeras cinco líneas?

### ¿Cómo usamos describe para aprender del DataFrame?

La media y la desviación estándar nos muestran muchooos puntos decimales. Podemos formatear los números para mostrarnos tan sólo hasta dos decimales. 

(Hint, primero hay que checar el esquema de describe)

In [61]:
from pyspark.sql.functions import format_number
result = df.describe()
result2 = result.select(result['summary'],
              format_number(result['Open'].cast('float'),2).alias('Open'),
              format_number(result['High'].cast('float'),2).alias('High'),
              format_number(result['Low'].cast('float'),2).alias('Low'),
              format_number(result['Close'].cast('float'),2).alias('Close'),
              result['Volume'].cast('int').alias('Volume')
             )
result2.show()

+-------+--------+--------+--------+--------+--------+
|summary|    Open|    High|     Low|   Close|  Volume|
+-------+--------+--------+--------+--------+--------+
|  count|1,258.00|1,258.00|1,258.00|1,258.00|    1258|
|   mean|   72.36|   72.84|   71.92|   72.39| 8222093|
| stddev|    6.77|    6.77|    6.74|    6.76| 4519780|
|    min|   56.39|   57.06|   56.30|   56.42| 2094900|
|    max|   90.80|   90.97|   89.25|   90.47|80898100|
+-------+--------+--------+--------+--------+--------+

### Crea un nuevo DataFrame con una columna que se llame HV Ratio que sea el cociente de el High Prices vs el volumen del stock (Volume).

In [62]:
df.select(
    (df.High/df.Volume).alias("HV Ratio")
).show()

+--------------------+
|            HV Ratio|
+--------------------+
|4.819714653321546E-6|
|6.290848613094555E-6|
|4.669412994783916E-6|
|7.367338463826307E-6|
|8.915604778943901E-6|
|8.644477436914568E-6|
|9.351828421515645E-6|
| 8.29141562102703E-6|
|7.712212102001476E-6|
|7.071764823529412E-6|
|1.015495466386981E-5|
|6.576354146362592...|
| 5.90145296180676E-6|
|8.547679455011844E-6|
|8.420709512685392E-6|
|1.041448341728929...|
|8.316075414862431E-6|
|9.721183814992126E-6|
|8.029436027707578E-6|
|6.307432259386365E-6|
+--------------------+
only showing top 20 rows

### ¿Qué día fue el pico más alto en High?

In [63]:
# Didn't need to really do this much indexing
# Could have just shown the entire row
df.orderBy(df["High"].desc()).head()

Row(Date=datetime.datetime(2015, 1, 13, 0, 0), Open=90.800003, High=90.970001, Low=88.93, Close=89.309998, Volume=8215400, Adj Close=83.825448)

In [64]:
df.orderBy(df["High"].desc()).head(1)[0][0]

datetime.datetime(2015, 1, 13, 0, 0)

### ¿Cuál es la media de la columna Close?

In [65]:
from pyspark.sql.functions import col as c
import pyspark.sql.functions as F

In [66]:
df.select(
 F.avg(df["Close"].cast('Float')).cast('Float').alias("MEAN_Close")
).show()

+----------+
|MEAN_Close|
+----------+
|  72.38845|
+----------+

In [67]:
df.select(F.mean("Close")).show()

+-----------------+
|       avg(Close)|
+-----------------+
|72.38844998012726|
+-----------------+

### ¿Cuáles son el máximo y el mínimo de la columna Volume?

In [68]:
df.select(
    F.max("Volume"),
    F.min("Volume")
).show()

+-----------+-----------+
|max(Volume)|min(Volume)|
+-----------+-----------+
|   80898100|    2094900|
+-----------+-----------+

### ¿Cuál fue el máximo High al año?

In [69]:
df.limit(3).toPandas()

        Date       Open       High        Low      Close    Volume  Adj Close
0 2012-01-03  59.970001  61.060001  59.869999  60.330002  12668800  52.619235
1 2012-01-04  60.209999  60.349998  59.470001  59.709999   9593300  52.078475
2 2012-01-05  59.349998  59.619999  58.369999  59.419998  12768200  51.825539

In [70]:
df2 = df.select('*',
          F.year("Date").alias('year'))

In [71]:
df2.groupBy('year').max('High').show()

+----+---------+
|year|max(High)|
+----+---------+
|2015|90.970001|
|2013|81.370003|
|2014|88.089996|
|2012|77.599998|
|2016|75.190002|
+----+---------+

## Recursos
- [About Spark in mapr](https://mapr.com/blog/spark-101-what-it-what-it-does-and-why-it-matters/)
- [edX course Big Data analytics Using Spark](https://courses.edx.org/courses/course-v1:UCSanDiegoX+DSE230x+1T2018/courseware/2966295eefb4492b836de9ee34f05911/56608329f8fc42fc8fcaa5e49673ee3b/5?activate_block_id=block-v1%3AUCSanDiegoX%2BDSE230x%2B1T2018%2Btype%40vertical%2Bblock%4042ff48e505e24071b920a496b48a32bc)
- [paper regarding RDDs](https://www.usenix.org/system/files/conference/nsdi12/nsdi12-final138.pdf)
- [saurzcode on what is RDD](https://saurzcode.in/2015/10/what-is-rdd-in-spark-and-why-do-we-need-it/)
- [Spark-py notebooks by Jose A. Dianes](https://github.com/jadianes/spark-py-notebooks)
- [Presenting code using Jupyter Notebook Slides](https://medium.com/@mjspeck/presenting-code-using-jupyter-notebook-slides-a8a3c3b59d67)
- http://dme.rwth-aachen.de/en/research/projects/mapreduce
- https://softwareengineering.stackexchange.com/questions/98800/is-mapreduce-anything-more-than-just-an-application-of-divide-and-conquer
- http://data-flair.training/forums/topic/sparksession-vs-sparkcontext-in-apache-spark